*{
  margin:  0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}
button:focus{
  border: none !important;
  outline: none !important;
}
.container{
  max-width: 1300px !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
}