.header-nav {
  height: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  line-height: 21.09px;
}
.nav-form {
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: rgba(0, 0, 0, 1);
}
.nav-form span {
  padding: 15px 16px;
  transition: all 1s;
  border-radius: 15px;
}
.nav-form span:hover {
  background: #0066ff;
}
